.tiers-container {
  margin-bottom: 48px;

  table.styled {
    width: 40%;
    min-width: 370px;
    border-collapse: collapse;

    tr {
      border-bottom: 1px solid $lighter-gray-color;

      td {
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: $dark-gray-color;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: 35px;
        padding: 6px;
        vertical-align: middle;

        &.number {
          white-space: nowrap;
          text-align: right;

          .entry {
            display: inline-block;
            white-space: nowrap;
            padding-right: 0;
            padding-left: 12px;
          }

          .money {
            min-width: 125px;
          }

          .major {
            font-size: 12px;
            line-height: 18px;
            color: $darker-gray-color;
            font-weight: bold;
          }

          .minor {
            font-style: italic;
            font-size: 10px;
            color: $dark-gray-color;
            font-family: Arial, sans-serif;
            line-height: 18px;
          }
        }

        &.division {
          color: $darker-gray-color;

          .entry {
            display: inline-block;
            padding-right: 12px;
            white-space: nowrap;
          }

          .tier-span {
            min-width: 80px;
          }

          .basic {
            color: $dark-gray-color;
          }
        }

        &:last-of-type {
          padding-right: 0;
        }
      }
    }
  }
}

.footer-info-results {
  width: 40%;
  min-width: 280px;
  margin-bottom: 48px;

  header {
    color: $darker-gray-color;
    display: block;
    margin-bottom: 12px;
    padding-bottom: 5px;
    border-bottom: 1px solid $light-gray-color;
  }

  .content {
    font-size: 12px;
  }
}
